<div class="container">
  <h3>Edit Profile</h3>
  <hr>
  <div class="row edituser">
    <div class="col-lg-3 col-md-3 col-sm-3 edituser-left">
      <div class="img-upload">
        <img src="/assets/avatar/user2.jpg" class="avatar" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="form-control">
      </div>

      <div>
        <%= render "users/passwords/edit"%>
      </div>

      <div class="cancel-password">
          <h4 >Cancel my account</h4>
          <p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class =>'btn btn-md btn-default' %></p>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 edituser-center">

      <h3>Personal info</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, :class => 'form-horizontal') do |f| %>
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
          <%= devise_error_messages! %>
      </div>


          <div class="form-group">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name,  :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name,  :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :sex %><br />
            Male <%= f.radio_button :sex, true%>
            Female <%= f.radio_button :sex, false%>
          </div>

          <div class="form-group">
            <%= f.label :occupation %><br />
            <%= f.text_area :occupation,  :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :biography %><br />
            <%= f.text_area :biography,  :class => 'form-control' %>
          </div>




                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>




                <div class="actions col-sm-offset-4">
                  <%= f.submit "Update", :class =>'btn btn-md btn-primary' %>
                </div>
              <% end %>

        </div>

    </div>
  </div>
</div>
