
  <div class="row">
  <div class="col-lg-1 col-sm-1 col-md-1"></div>
  <div class="col-lg-11 col-sm-11 col-md-11 bg-info">
  <h2 class="text-left"> Your Answer </h2>
    <%= form_for(@answer) do |f| %>
      <% if @answer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

          <ul>
          <% @answer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label "respuesta" %><br>
        <%= f.text_area :description, :class => 'form-control' %>

        <% if [params[:id]] %>
          <%=   f.hidden_field :question_id, :value => [params[:id]] %>
        <%  else %>
          <%=   f.hidden_field :question_id, :value => [params[:question_id]] %>
      <%  end %>


      </div>
      <div class="actions col-sm-offset-4">
        <%= f.submit "Save", :class =>'btn btn-md btn-primary' %>
      </div>
    <% end %>



  </div>

  </div>
