<table class="table-questions">
  <thead>
    <tr>
      <th class="col-lg-12 col-md-12 col-sm-12"></th>
    </tr>
  </thead>
  <tbody>
    <% @myquestionscolaborations.each do |myquestionscolaboration| %>
     <tr >
       <td class="text-primar">
         <h6 class="text-left col-md-offset-1">
           <% if myquestionscolaboration.question.solution_question %>
             <span class="fa-stack fa-ls">
               <i class="fa fa-circle fa-stack-2x text-primary"></i>
               <i class="fa fa-check fa-stack-1x fa-inverse "></i>
             </span>
           <%end %>
           <%= link_to myquestionscolaboration.question  do %>
                 <%= myquestionscolaboration.question.description.capitalize %>
           <% end %>

        </h6>
        <h6 class="text-left col-md-offset-1">
          You Answer: <%= myquestionscolaboration.description.capitalize %>
       </h6>

         <div class="col-md-offset-1">
           <% myquestionscolaboration.question.questionLabels.each do |question_label| %>
              <span class="label label-default text-left label-question-padding"> <%= question_label.label.name %> </span>
           <% end %>
           <strong class="pull-right" style="font-size: 10px;">

               <em><%= time_ago_in_words myquestionscolaboration.created_at %> ago</em>
           </strong>
         </div>
       </td>
       <td></td>
     </tr>
   <% end %>
  </tbody>
</table>
